$primaryColor: rgb(174, 122, 204);

$VeryDarkGrayishBlue: rgb(72, 85, 106);
$DesaturatedDarkBlue: rgb(109, 127, 151);
$GrayishBlue: rgb(158, 175, 194);
$LightGrayishBlue: rgb(236, 242, 248);

@mixin flexCenter($direction, $justification) {
    display: flex;
    justify-content: $justification;
    align-items: center;
    flex-direction: $direction;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fitParent {
    max-height: 100%;
    max-width: 100%;
}

html{
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: $LightGrayishBlue;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.article-component{
    @include center();
    @include flexCenter(row, center);
    width: 820px;
    height: 312px;
    border-radius: 5px;
    color: $VeryDarkGrayishBlue;

    img{
        @include fitParent();
    }

    .article-content-box{
        @include flexCenter(column, space-between);
        height: 100%;
        max-width: 100%;
        flex: 2;
        background-color: white;
        border-radius: 0px 10px 10px 0px;

        .title{
            font-weight: 700;
            font-size: 21px;
            padding: 50px 90px 0px 40px;
        }
        .paragraph{
            font-weight: 500;
            font-size: 13px;
            color: $DesaturatedDarkBlue;
            padding: 0px 90px 0px 40px;
            line-height: 1.7;
        }
        .author-box{
            @include flexCenter(row, space-between);
            width: 84%;
            padding-bottom: 25px;

            .author-photo{
                width: 40px;
                height: 40px;
                background: url(./images/avatar-michelle.jpg);
                background-position: 50% 50%;
                background-size: cover;
                border-radius: 50%;
            }

            .author-name-and-date{
                @include flexCenter(column, space-between);
                font-size: 13px;
                line-height: 1.6;

                .author-name{
                    font-weight: 700;
                }
                .date{
                    align-self: flex-start;
                    color: $GrayishBlue;
                }
            }

            .share{
                width: 32px;
                height: 32px;
                position: relative;
                border-radius: 50%;
                background: $LightGrayishBlue;

                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 15px;
                    height: 13px;
                    background: url(./images/icon-share.svg);
                    background-position: 50% 50%;
                    background-size: cover;
                    border-radius: 50%;
                }
            }
        }
    }

    .image{
        //display: inline-block;
        width: 50%;
        height: 100%;
        background: url(./images/drawers.jpg);
        background-position: 0% 0%;
        background-size: cover;
        border-radius: 10px 0px 0px 10px;
        flex: 1.27;
    }
}


header{
    
    background: $primaryColor;
    button{
        background: $LightGrayishBlue;
        &:hover{
            background: $GrayishBlue;
        }
    }
}
