#share-popup{
    @include flexContainer(row, flex-start);
    background-color: $VeryDarkGrayishBlue;
    width: 250px;
    height: 57px;
    border-radius: 11px;
    transform: scale(1) translateX(calc(50vw + 178px)) translateY(calc(50vh - 4px));
    opacity: 0;

    .share-title{
        color: $GrayishBlue;
        font-size: 12px;
        letter-spacing: 7px;
        padding-left: 38px;
    }

    .facebook{
        @include shareIcon(facebook);
        margin-left: 15px;
        margin-right: 18px;
    }
    .twitter{
        @include shareIcon(twitter);
        height: 17px;
        margin-right: 17px;
    }
    .pinterest{
        @include shareIcon(pinterest);
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        left: 7px;
        right: 0;
        top: 50px;
        margin: 5px auto;
        height: 0;
        width: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 14px solid $VeryDarkGrayishBlue;
    }
}