@keyframes fade-in {
    0% {
        //transform: translateX(calc(50vw + 178px)) translateY(calc(50vh + 54px)) scale(0);
        @include share-popup-location(hide);
    }
   100% {
        //transform: translateX(calc(50vw + 178px)) translateY(calc(50vh - 4px)) scale(1);
        @include share-popup-location(show);
   }
}

@keyframes fade-out {
    0% {
        //transform: translate(calc(50vw + 178px), calc(50vh - 4px)) scale(1);
        @include share-popup-location(show);
    }
   100% {
        //transform: translate(calc(50vw + 178px), calc(50vh + 54px)) scale(0);
        @include share-popup-location(hide);
   }
}

.show{
    //opacity: 1;
    @include flexContainer(row, flex-start);
    //visibility: visible;
    //transform: translateX(calc(50vw + 178px)) translateY(calc(50vh - 4px));
    animation: fade-in .4s ease ;
    //animation-fill-mode: forwards;
}
.hide{
    //opacity: 0;
    //display: none !important;
    animation: fade-out .3s ease-out ;
    animation-fill-mode: forwards;
    //visibility: hidden;
}

.invisible{
    display: none !important;
}

#share-popup{
    @include flexContainer(row, flex-start);
    background-color: $VeryDarkGrayishBlue;
    width: 250px;
    height: 57px;
    border-radius: 11px;
    position: relative;
  
    //transform: translateX(calc(50vw + 178px)) translateY(calc(50vh - 4px));
    @include share-popup-location(show);

    .share-title{
        color: $GrayishBlue;
        font-size: 12px;
        letter-spacing: 7px;
        padding-left: 38px;

        &:hover{
            cursor: default;
        }
    }

    .facebook{
        @include shareIcon(facebook);
        margin-left: 15px;
        margin-right: 18px;
    }
    .twitter{
        @include shareIcon(twitter);
        height: 17px;
        margin-right: 17px;
    }
    .pinterest{
        @include shareIcon(pinterest);
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        left: 7px;
        right: 0;
        top: 50px;
        margin: 5px auto;
        height: 0;
        width: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 14px solid $VeryDarkGrayishBlue;
    }
}