$VeryDarkGrayishBlue: rgb(72, 85, 106);
$DesaturatedDarkBlue: rgb(109, 127, 151);
$GrayishBlue: rgb(158, 175, 194);
$LightGrayishBlue: rgb(236, 242, 248);

$mobile-size-limit: 600px;
$mobile-screen-width: 330px;